/* Global Styles */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
  }
  
  .container {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2 {
    margin-bottom: 10px;
  }
  
  h1 {
    font-size: 24px;
    font-weight: bold;
  }
  
  h2 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 20px;
  }
  
  .lop {
    width: 100px;
    height: 100px;
    margin: 20px;
    border-radius: 50%;
  }
  
  .task {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  button[type="button"] {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button[type="button"]:hover {
    background-color: #3e8e41;
  }
  
  .result {
    margin-top: 20px;
    padding: 20px;
    background-color: #f7f7f7;
    border: 1px solid #ddd;
  }
  
  .wor {
    font-size: 14px;
    color: #666;
    text-align: center;
  }
  .tio{
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .tio :hover {
    background-color: #3e8e41;
  }